@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(../Fonts/Roboto-Regular.ttf) format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/*
Seven segment number font
*/
@font-face
{
    font-family: 'Seven Segment';
    font-style: normal;
    src: local('Seven Segment'),
    url(../Fonts/DSEG7.ttf) format('truetype');
}

.seven-seg
{
    font-family: 'Seven Segment';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
}


/* Emulates a blink tag (used for the flashing 88:88 display for jobs) */
.blinker { animation: blink 1s steps(2, start) infinite; }
@keyframes blink
{
    to
    {
        visibility: hidden;
    }
}

/* set this class to hide an element*/
.hide
{
    display: none;
}

/* Force 0 margins and padding for all elements,
sans serif as a backup in case Roboto did not load*/
body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px !important;
}

/* element that measures a pre character*/
.measure
{
    margin: 0;
    padding: 0;
    font-size: 12.5px;
    visibility: hidden;
    position: absolute;
    font-family: 'Courier New';
    color: white;
    top: -20px;
}

.measurescroll
{
    margin: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    overflow-y: scroll;
    visibility: hidden;
    color: white;
    top: -20px;
}

/* To detect mobile screens*/
.is-desktop
{
    display: none;
}


/* Assume a "Standard desktop" to be 1920x1080 at a 125% zoom.
This means that a maximized Chrome browser with a bookmarks bar
reports a client width/height of 1522x710.
That's with the Windows taskbar at the bottom, where it is by default.
So we 1500x700 is the "minimum" resolution and here are the rules:
*/
@media (min-width: 1500px)
{
    .is-desktop
    {
        display: block;
    }
}

/* For extremely tiny screens < 480px, scale the content to 70% */
@media (max-width: 640px)
{
    body
    {
        zoom: 0.7;
    }
}

/* No underline on links */
a
{
    text-decoration: none;
}



/* Job submission missing parameter error link */
.errorlink
{
    color:red;
    text-decoration: underline;
    cursor: pointer;
}

/* Error text in dialog box*/
.errortext
{
  color:red;
}

/* Busy indicator styles */
.busyplane
{
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    height: 60%;
    align-items: center;
}


.busybox
{
    flex: 1
}


/* Spinner */
.busy
{
    margin: 0px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(12,141,182, 0.2);
    border-right: 1.1em solid rgba(12,141,182, 0.2);
    border-bottom: 1.1em solid rgba(12,141,182, 0.2);
    border-left: 1.1em solid deepskyblue;
    transform: translateZ(0);
    animation: load8 1s infinite linear;
}

.busy,
.busy:after
{
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

.busytext
{
    color: white;
    text-align: center;
}

@keyframes load8
{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.centered
{
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.job-screenshot-big
{
    width: calc(75% + 8px);
    z-index: 9999;
    cursor: pointer;
}

.no-focus-rect:focus
{
    outline: none;
}

.wy-side-nav-search {
    background-color: rgb(0, 51, 102);
}

.wy-nav-side {
    background-color: rgb(0, 51, 102);
}

.wy-menu-vertical li ul li a {
    background-color: rgb(0, 51, 102);
    color: white;
}

.wy-menu-vertical li.current ul {
    background-color: rgb(0, 51, 102);
}

.ul.subnav {
    color: white;
}

.wy-nav-content-wrap {
    background: white;
}

.toctree-l1 a {color: #FFF !important}
.toctree-l1.current {color: #000 !important}
.toctree-l2 a {color: #FFF !important; background-color: #30302e}
.toctree-l3 a {color: #FFF !important; background-color: #30302e}
.toctree-l3 a hover {color: #FFF !important; background-color: #30302e !important}
a.toctree-l2 {margin-left: 16px;}
a.toctree-l3 {margin-left: 16px;}
a.toctree-l4 {margin-left: 16px;}
a.toctree-l5 {margin-left: 16px;}
a.toctree-l6 {margin-left: 16px;}

.wy-menu-vertical li.on a, .wy-menu-vertical li.current>a {
       color: #404040 ;
       padding: 0.4045em 1.618em;
       font-weight: bold;
       position: relative;
       background: #000 !important;
       border: none;
       border-bottom: solid 1px #c9c9c9 ;
       border-top: solid 1px #c9c9c9 ;
       padding-left: 1.618em -4px;
}

.wy-menu-vertical li ul li a:hover{
    background-color: #000 !important;}

